* {
    vertical-align: auto;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main, footer {
    margin: 0 auto;
    width: 80%;
}

/*stile banner*/
.banner {
    background-color:#007fff;
    background-image: url('../img/pattern.png');
    background-size: 25% 200px;
    width: 100%;
    height: 100px;
}

.banner img {
    width: 15%;
    position: relative;
    top: 40px;
    left: 10%;
}

/*stile introduzione articolo*/
h1 {
   font-weight: bolder;
   font-size: 25px;
   margin: 10px 0;
}
.autori {
    margin-top: 0;
    color: rgb(128, 128, 128);
    font-size: 15px;
    line-height: 0.9;
    margin-bottom: 5px;
}
#the_booleaner {
    color: #00ccff;
}

#data {
    font-size: 10px;
}

.immagini {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    margin: 10px 0;
}

/*stile articolo principale*/
section {
    margin: 15px 0;
}

ul {
    position: relative;
    left: 20px;
}

/*stile testo evidenziato*/
.testo_evidenziato {
    background-color: rgb(238, 225, 113);
}

/*stile tabella*/
table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

th {
    color: white;
    font-weight: bold;
    background-color: #00ccff;
}

.column {
    width: 20%;
}

.riga_evidenziata {
    background-color: rgb(155, 210, 228);
}

/*stile footer*/
h3 {
    color: rgb(128, 128, 128);
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contenitore {
    width: auto;
    height: 200px;
    margin-bottom: 5px;
}

.testo {
    color: white;
    font-weight: bold;
    margin-left: 10px;
    position: relative;
    top: 5px;
}

#img_uno {
    background-image: url('../img/monitor.jpg');
    background-repeat: no-repeat;
}

#img_due {
    background-image: url('../img/graph.jpg');
    background-repeat: no-repeat;
}